/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/

:root {
    --bs-blue: #4a8c8c;
    --white-color: #ffffff;
    --primary-color: #4a8c8c;
    --secondary-color: #7b4f39;
    --section-bg-color: #f9f9f9;
    --dark-color: #1c1c1e;
    --grey-color: #fcfeff;
    --text-secondary-white-color: rgba(255, 255, 255, 0.98);
    --title-color: #1c1c1e;
    --p-color: #1c1c1e;
    --body-font-family: "Jost", sans-serif;
    --title-font-family: "Butler", serif;
    --h1-font-size: 1, 5 rem;
    --h2-font-size: 1, 5 rem;
    --h3-font-size: 1.25 rem;
    --h4-font-size: 1.125 rem;
    --h5-font-size: 1 rem;
    --h6-font-size: 0.875 rem;
    --p-font-size: 1 rem;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #4a8c8c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #4a8c8c;
}

.form-check-input:checked {
    background-color: #4a8c8c !important;
    border-color: #4a8c8c !important;
}

.modal-open .container-fluid,
.modal-open .carousel,
.modal-open .container,
.modal-open header {
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

body,
html {
    height: 100%;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family), var(--title-font-family);
    position: relative;
}

html {
    font-size: 100%;
}

body {
    -webkit-transition: background 1s ease, font-size 0.7s linear;
    transition: background 1s ease, font-size 0.7s linear;
}

input,
textarea,
keygen,
select,
button {
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

.accessibility-font {
    /* First font-size fallback to older browsers*/
    font-size: 2em;
    font-size: 2rem;
}

.accessibility-font input,
.accessibility-font textarea,
.accessibility-font keygen,
.accessibility-font select,
.accessibility-font button {
    /* The default font-size of these elements is approximately 20% less than the body */
    font-size: 1.041625em;
    font-size: 1.04163rem;
}

.accessibility-contrast {}

.accessibility-contrast-img {
    filter: grayscale(10);
}


/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    line-height: inherit;
}

h1,
h2 {
    font-family: Butler;
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--h1-font-size);
    line-height: normal;
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-family: Butler;
    font-weight: var(--font-weight-bold);
    font-size: 2 rem;
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
}

.text-secondary-white-color {
    color: var(--text-secondary-white-color);
}

.fs-jost {
    font-family: "Jost", sans-serif;
    font-weight: 300;
}


/*---------------------------------------
 HERO SETTINGS / HEAD-SUBLINE
-----------------------------------------*/

.bg-img {
    background-image: url("/images/start/header-start.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 93vh;
}

.ausflug-bg-img {
    background-image: url("/images/ausfluege/header-ausflug.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 93vh;
}

.hero {
    position: relative;
    overflow: hidden;
}

.heroText {
    position: absolute;
    z-index: 9;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
}

.overlay {
    background: linear-gradient(to top, #7b4f39, transparent 50%);
    position: absolute;
    inset: 0;
}

.overlay-slider {
    background: linear-gradient(to top, #7b4f39, transparent 80%);
    position: absolute;
    inset: 0;
}


/*---------------------------------------
 NAVIGATION SETTINGS
-----------------------------------------*/

.navbar {
    z-index: 9;
    right: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.fa-cog:before {
    content: "\f013";
    position: relative;
}

.navbar-nav .nav-link::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid #4a8c8c;
    opacity: 0;
}

.navbar-nav .nav-link:hover {
    color: #4a8c8c;
}

.navbar-nav .nav-link {
    color: var(--p-color);
    font-size: 18px;
    font-weight: var(--font-weight-normal);
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav .nav-item.active .nav-link::after {
    color: var(--primary-color);
    opacity: 1;
}

.navbar-nav .nav-item.active .nav-link {
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-collapse {
    align-items: center;
    justify-content: center;
}

.settings .fas {
    color: var(--secondary-color);
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    opacity: 0;
}

.dropdown-toggle.show::after {
    opacity: 1;
}

.dropdown-toggle.show::after {
    color: #fff;
}

.dropdown-toggle.show {
    opacity: 1;
    background-color: var(--primary-color);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}

.dropdown-toggle.show .fas {
    opacity: 1;
    background-color: var(--primary-color);
    color: #fff;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
    background: var(--secondary-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--secondary-color);
    width: 30px;
    height: 2px;
    content: "";
}

.navbar-toggler .navbar-toggler-icon:before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
    top: 8px;
}


/*---------------------------------------
  SECTION-SETTINGS
-----------------------------------------*/

section {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.first {
    margin-top: 5rem;
    margin-bottom: 7rem;
}


/*---------------------------------------
SLIDER BASE SETTINGS
-----------------------------------------*/

.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
    transform: translateX(0);
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(0);
}


/*---------------------------------------
SLIDER INTRO SETTINGS
-----------------------------------------*/

.carousel-control-next,
.carousel-control-prev {
    top: auto;
    bottom: 2.5rem;
}

.carousel-control-next.offer,
.carousel-control-prev.offer {
    top: auto;
    bottom: 0;
    transform: translate(29px, 60px);
}

.carousel-control-next.intro {
    transform: translate(43%, -50%);
    top: unset;
    bottom: unset;
}

.carousel-control-prev {
    right: 4rem;
    left: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: var(--dark-color);
    background-size: 50% 50%;
    border-radius: 100px;
    width: 3rem;
    height: 3rem;
}

.carousel-inner {
    position: relative;
    height: 100%;
    overflow-y: visible;
    overflow-x: clip;
}


/*---------------------------------------
SLIDER TEASER SETTINGS
-----------------------------------------*/

.carousel {
    margin-bottom: 0rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item>img {
    width: 100%;
    height: auto;
}

.max-w {
    max-width: 288px;
}

.card-body {
    text-align: center;
    justify-content: center;
}

.card-icon {
    max-height: 90px;
    width: auto;
}

.teaser-title {
    font-family: var(--title-font-family);
    font-size: 24px;
    color: #4a8c8c;
}

.teaser-title:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 50%;
    /* This creates some space between the element and the border. */
    border-bottom: 2px solid #4a8c8c;
    /* This creates the border. Replace black with whatever color you want. */
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bba598;
    padding: 0.5rem;
}


/*---------------------------------------
 CARD OFFER
-----------------------------------------*/

.icon-title {
    display: block;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    border-top: 2px solid #1c1c1e;
    width: fit-content;
}

.intro-icon {
    width: auto;
    height: 100px;
}

.offer-icon {
    flex-direction: column;
    display: flex;
    padding: 0;
    width: 25px;
    height: fit-content;
    align-self: center;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-offer {
    border: none !important;
    background-color: rgba(187, 165, 152, 0.25);
}

.no-wrap {
    flex-wrap: nowrap !important;
}


/*---------------------------------------
AUSFLUG TEASER
-----------------------------------------*/

.teaser-ausflug {
    background-color: rgba(187, 165, 152, 0.25);
}

.teaser-img {
    max-width: 376px;
    max-height: auto;
}

.teaser-icon {
    width: 240px;
    height: auto;
    align-items: center;
    justify-content: center;
}


/*---------------------------------------
TESTIMONIAL SETTINGS
-----------------------------------------*/

.testimonial-view {
    max-width: 900px;
    padding: 50px 15px;
    margin: 0 auto 70px auto;
    border-radius: 3px;
}

.testimonial-view.top-margin .testimonial-block_user {
    margin-top: -60px;
}

.testimonial-view img.left-quote {
    opacity: 0.01;
    width: 20%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 40%;
}

.section-header,
.testimonial-block_user_info_name {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.section-header:after,
.testimonial-block_user_info_name:after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #4a8c8c;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.testimonial-block {
    padding: 15px;
    margin: 50px 15px;
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
}

.testimonial-block .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
}

.testimonial-block .testimonial-block_user {
    margin-bottom: 30px;
    text-align: center;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image {
    position: relative;
    margin: 0 15px 30px 15px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_image img {
    height: 170px;
    width: 170px;
    border: 4px solid #4a8c8c;
    border-radius: 170px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name {
    margin-bottom: 10px;
}

.testimonial-block .testimonial-block_user .testimonial-block_user_info .testimonial-block_user_info_name:after {
    width: 50px;
    left: calc(50% - 25px);
}

.testimonial-block .testimonial-block_content {
    text-align: center;
    font-size: 18px;
}

.top-margin .testimonial-block .row {
    place-items: normal;
}


/*---------------------------------------
 TABLE PRICES
-----------------------------------------*/


/*---------------------------------------
FORM
-----------------------------------------*/

.container-buchung {
    background-color: rgba(187, 165, 152, 0.25);
    border-radius: 8px;
    margin: 0 auto;
}

.container-buchung-success {
    background-color: rgba(187, 165, 152, 0.25);
    border-radius: 8px;
    margin: 0 auto;
    display: none;
}

.container-buchung-success.was-validated {
    display: block;
}

.container-buchung .was-validated {
    display: none;
}

form.was-validated {
    display: none;
}


/*---------------------------------------
FOOTER SETTINGS
-----------------------------------------*/

.site-footer {
    background: #154040;
}

.footer-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.adresse {
    order: 1;
}

.logo-icon {
    display: flex;
    flex-direction: column;
    order: 2;
}

.link-list {
    flex-direction: row;
    order: 3;
    display: flex;
    justify-content: start;
}


/*---------------------------------------
  BUTTONS
-----------------------------------------*/

.btn {
    font-family: var(--title-font-family);
}

.btn-primary {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgb(187 165 152 / 50%);
}

.btn-outline-primary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-primary:focus {
    color: var(--secondary-color);
    background-color: (var(--secondary-color));
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgb(187 165 152 / 50%);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    color: var(--p-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

::selection {
    background: var(--dark-color);
    color: var(--white-color);
}

.dropdown-toggle::after {
    opacity: 1 !important;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    color: #fff;
}

.dropdown-toggle-split {
    white-space: normal;
}


/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/

@media (min-width: 1200px) {
    h1 {
        font-size: 48px;
    }
    .bg-img {
        height: 93vh;
    }
    .carousel-control-next.offer,
    .carousel-control-prev.offer {
        top: auto;
        bottom: 0;
        transform: translate(15px, 60px);
    }
}

@media screen and (min-width: 992px) {
    .hero {
        height: 100vh;
    }
    .sticky-wrapper {
        position: relative;
        bottom: 76px;
    }
}

@media screen and (max-width: 991px) {
    .navbar {}
    .section-padding {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .team-thumb {
        left: 0;
        width: auto;
    }
    .news-two-column {
        height: auto !important;
        min-height: inherit;
    }
    .news .col-12 .news-two-column:first-child {
        margin-bottom: 38px;
    }
}

@media screen and (min-width: 900px) {
    .testimonial-block {
        padding: 50px;
        margin: 50px;
    }
    .testimonial-view .carousel-control-prev {
        left: -50px;
    }
    .testimonial-view .carousel-control-next {
        right: -50px;
    }
    .testimonial-view .carousel-control-next-icon,
    .testimonial-view .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }
    .testimonial-view.top-margin .testimonial-block_user {
        margin-top: -100px;
    }
}

@media screen and (max-width: 768px) {
    .bg-img,
    .ausflug-bg-img {
        height: 35vh;
    }
}

@media screen and (max-width: 576px) {
    .navbar-nav .nav-link::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 8%;
        border-bottom: 2px solid #4a8c8c;
        opacity: 0;
        left: 0;
        position: absolute;
    }
    .carousel-control-next.offer,
    .carousel-control-prev.offer {
        top: auto;
        bottom: 0;
        transform: translate(0px, 60px);
    }
    .overlay {
        background: linear-gradient(to top, #7b4f39, transparent 50%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    /* Footer 2 */
    .footer-conatiner {
        flex-direction: column;
        order: 2;
    }
    .logo-icon {
        flex-direction: row;
        order: 1;
        justify-content: space-evenly;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .carousel-control-next.offer,
    .carousel-control-prev.offer {
        top: auto;
        bottom: 0;
        transform: translate(7px, 60px);
    }
}


/* jost-300 - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/fonts/jost-v9-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("fonts/jost-v9-latin-300.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* jost-regular - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/jost-v9-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/jost-v9-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* jost-500 - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("/fonts/jost-v9-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/jost-v9-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* jost-600 - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("/fonts/jost-v9-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/jost-v9-latin-600.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* jost-800 - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("/fonts/jost-v9-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/jost-v9-latin-800.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* jost-900 - latin */

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("/fonts/jost-v9-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("/fonts/jost-v9-latin-900.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-UltraLight.woff2") format("woff2"), url("/fonts/Butler-UltraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-Medium.woff2") format("woff2"), url("/fonts/Butler-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-Light.woff2") format("woff2"), url("/fonts/Butler-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-Black.woff2") format("woff2"), url("/fonts/Butler-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-Bold.woff2") format("woff2"), url("/fonts/Butler-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler-ExtraBold.woff2") format("woff2"), url("/fonts/Butler-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler.woff2") format("woff2"), url("/fonts/Butler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}